<h1>
    Current Students and Postdocs
</h1>

<div class="row">
  <div class="col">
    <img class="headshot" alt="Robin Walters" src="{{ '/assets/images/robin.jpg' | relative_url }}"><br>
    <a href="http://mathserver.neu.edu/robin/">
        Robin Walters</a><br>
    Postdoctoral Fellow<br>
  </div>
  <div class="col">
    <img class="headshot" alt="Ondrej Biza" src="{{ '/assets/images/ondrej.jpg' | relative_url }}"><br>
    <a href="https://sites.google.com/view/obiza">
        Ondrej Biza</a><br>
    Ph.D. Candidate<br>
    <i>Co-advised with <br> 
     <a href="https://www.ccs.neu.edu/home/rplatt/">Robert Platt</a> and <br>
     <a href="https://www.ccs.neu.edu/home/lsw/">Lawson Wong</a></i>
  </div>
  <div class="col">
    <img class="headshot" alt="Babak Esmaeili" src="{{ '/assets/images/babak.jpg' | relative_url }}"><br>
    <a href="https://babak0032.github.io/">
        Babak Esmaeili</a><br>
    Ph.D. Candidate
  </div>
  <div class="col">
    <img class="headshot" alt="Jered McInerney" src="{{ '/assets/images/jered.jpg' | relative_url }}"><br>
    <a href="https://www.khoury.northeastern.edu/people/denis-jered-mcinerney/">
        Jered McInerney</a><br>
    Ph.D. Candidate<br>
    <i>Co-advised with <br> <a href="http://www.byronwallace.com/">Byron Wallace</a></i>
  </div>
<!--   <div class="col">
    <img class="headshot" alt="Iris Seaman" src="{{ '/assets/images/iris.jpg' | relative_url }}"><br>
    <a href="https://www.khoury.northeastern.edu/people/iris-rubi-seaman/">
        Iris Seaman</a><br>
    Ph.D. Candidate    
  </div>
 -->  
   <div class="col">
    <img class="headshot" alt="Eli Sennesh" src="{{ '/assets/images/eli.jpg' | relative_url }}"><br>
    <a href="https://www.khoury.northeastern.edu/people/eli-sennesh/">
        Eli Sennesh</a><br>
    Ph.D. Candidate<br>
    <i>Co-advised with <br> <a href="https://lisafeldmanbarrett.com/">Lisa Feldman Barrett</a> and <br>
     <a href="https://cos.northeastern.edu/people/karen-quigley/">Karen Quigley</a> </i>
  </div>
  <div class="col">
    <img class="headshot" alt="Niklas Smedemark-Margulies" src="{{ '/assets/images/niklas.jpg' | relative_url }}"><br>
    <a href="https://www.khoury.northeastern.edu/people/niklas-smedemark-margulies/">
        Niklas Smedemark-Margulies</a><br>
    Ph.D. Candidate<br>
  </div>
  <div class="col">
    <img class="headshot" alt="Sam Stites" src="{{ '/assets/images/sam.jpg' | relative_url }}"><br>
    <a href="https://stites.io/">
        Sam Stites</a><br>
    Ph.D. Candidate<br>
  </div>
  <div class="col">
    <img class="headshot" alt="Hao Wu" src="{{ '/assets/images/hao.jpg' | relative_url }}"><br>
    <a href="https://hao-w.github.io/">
        Hao Wu</a><br>
    Ph.D. Candidate   
  </div>
  <div class="col">
    <img class="headshot" alt="Xiongyi Zhang" src="{{ '/assets/images/xiongyi.jpg' | relative_url }}"><br>
    <a href="https://www.khoury.northeastern.edu/role/phd-students/">
        Xiongyi Zhang</a><br>
    Ph.D. Candidate<br>
    <i>Co-advised with <br> <a href="http://www.byronwallace.com/">Byron Wallace</a></i>
  </div>
  <div class="col">
    <img class="headshot" alt="Heiko Zimmermann" src="{{ '/assets/images/heiko.jpg' | relative_url }}"><br>
    <a href="http://www.ccs.neu.edu/home/hzimmermann/">
        Heiko Zimmermann</a><br>
    Ph.D. Candidate
  </div>
</div>
   
    

