<h1>
    Current Students and Postdocs
</h1>

<div class="row">
  <div class="col-6 col-md-3">
    <img class="headshot" alt="Bob van Sluijs" src="{{ '/assets/images/BobVanSluijs.jpg' | relative_url }}"><br>
    <a href="https://scholar.google.com/citations?user=e_BiahMAAAAJ">
        Bob van Sluijs</a><br>
    Postdoctoral Researcher<br>
  </div>
  <div class="col-6 col-md-3">
    <img class="headshot" alt="Daniel Acuña Ramírez" src="{{ '/assets/images/DanielAcunaRamirez.jpg' | relative_url }}"><br>
    <a href="https://scholar.google.com/citations?user=oZjvC-AAAAAJ">
        Daniel Acuña Ramírez</a><br>
    Postdoctoral Researcher<br>
  </div>
  <div class="col-6 col-md-3">
    <img class="headshot" alt="Jacobus Dijkman" src="{{ '/assets/images/JacobusDijkman.jpg' | relative_url }}"><br>
    <a href="https://scholar.google.com/citations?user=JMPMHOoAAAAJ">
        Jacobus Dijkman</a><br>
    Ph.D. Candidate<br>
  </div>
  <div class="col-6 col-md-3">
    <img class="headshot" alt="Floor Eijkelboom" src="{{ '/assets/images/FloorEijkelboom.jpg' | relative_url }}"><br>
    <a href="https://scholar.google.com/citations?user=jCWo5lUAAAAJ">
        Floor Eijkelboom</a><br>
    Ph.D. Candidate<br>
  </div>
  <div class="col-6 col-md-3">
    <img class="headshot" alt="Daan Roos" src="{{ '/assets/images/DaanRoos.jpg' | relative_url }}"><br>
    <a href="https://mrroose.github.io">
        Daan Roos</a><br>
    Ph.D. Candidate<br>
  </div>
  <div class="col-6 col-md-3">
    <img class="headshot" alt="Tin Hadzi Veljkovic" src="{{ '/assets/images/TinHadziVeljkovic.jpg' | relative_url }}"><br>
    <a href="https://scholar.google.com/citations?user=Ie73vfYAAAAJ">
        Tin Hadži Veljković</a><br>
    Ph.D. Candidate<br>
  </div>
  <div class="col-6 col-md-3">
    <img class="headshot" alt="Max Zhdanov" src="{{ '/assets/images/MaxZhdanov.jpeg' | relative_url }}"><br>
    <a href="https://maxxxzdn.github.io">
        Max Zhdanov</a><br>
    Ph.D. Candidate<br>
  </div>
</div>

<h1>
    Alumni
</h1>

<ul>
  <li><a href="https://j-towns.github.io">James Townsend</a> (Postdoc, UvA) &mdash; Anthropic</li>
  <li><a href="https://heikozimmermann.com/">Heiko Zimmermann</a> (Ph.D. 2025, UvA) &mdash; Research Scientist, Pasteur Labs</li>
  <li><a href="https://sites.google.com/view/obiza">Ondrej Bíža</a> (Ph.D. 2024, Northeastern) &mdash; Research Scientist, RAI Institute</li>
  <li><a href="https://nik-sm.github.io/">Niklas Smedemark-Margulies</a> (Ph.D. 2024, Northeastern) &mdash; Director of Bioinformatics Software Engineering, Variantyx</li>
  <li><a href="https://dmcinerney.github.io/">Jered McInerney</a> (Ph.D. 2024, Northeastern) &mdash; Data Scientist, CodaMetrix</li>
  <li><a href="https://esennesh.github.io/">Eli Sennesh</a> (Ph.D. 2023, Northeastern) &mdash; Postdoctoral Fellow, Vanderbilt University</li>
  <li><a href="https://hao-w.github.io/">Hao Wu</a> (Ph.D. 2023, Northeastern) &mdash; AWS</li>
  <li><a href="https://babak0032.github.io/">Babak Esmaeili</a> (Ph.D. 2023, UvA) &mdash; Postdoc, TU Eindhoven</li>
  <li><a href="https://www.robinwalters.com/">Robin Walters</a> (Postdoc, Northeastern) &mdash; Assistant Professor, Northeastern University</li>
  <li><a href="https://www.silvioamir.com/">Silvio Amir</a> (Postdoc, Northeastern) &mdash; Assistant Professor, Northeastern University</li>
</ul>

