---
---

@use "email-obfuscator";

// Primary accent color (blue, matching AMLab style)
$color-accent: #0076df;
$color-accent-dark: #00369f;

// Modern system font stack
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-heading: $font-sans;

*, html {
    font-family: $font-sans;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #212529;
    background-color: #ffffff;
}

a {
  color: $color-accent;
  text-decoration: none;
}

a:hover {
  color: $color-accent-dark;
  text-decoration: underline;
}

p {
  margin-bottom: 1em;
}

th, td {
  padding: 0.2em 1em;
}

h1, h2, h3, th {
  font-family: $font-heading;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: 150%;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-size: 125%;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h3 {
  font-size: 100%;
}

img[alt=contact-photo] { 
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px #999;
    border-radius: 3px;
}

img.headshot {
  max-width: 170px;
  box-shadow: 3px 3px 3px #999;
  border-radius: 3px;
  margin-bottom: 1em;
}

.float-left {
    float: left;
    margin-left: 20px;
    margin-right: 60px;
}

.float-right {
    float: right;
    margin-right: 20px;
    margin-left: 60px;
}


.nav {
  white-space: nowrap;
}

.footer > .row {
  padding-left: 20px;
  padding-right: 20px;
}


.nav, .title {
   font-family: $font-heading;
   font-weight: 500;
   font-size: 150%;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.title {
  padding: 0;
}

.header {
  padding-top: 12px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e2e1de;
}

.header .col-md-6 {
  padding-left: 0px;
}

.nav > li > a {
  font-family: $font-heading;
  font-weight: 500;
  font-size: 100%;
  text-transform: none;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  font-style: normal;
  padding: 8px 0px;
  margin: 0px 8px;
  text-decoration: none;
  color: #212529;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: $color-accent;
}

.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus
{
  color: $color-accent;
  border-bottom-color: $color-accent;
}

.nav-pills > li + li {
  margin-left: 5px;
}

#khoury-lockup {
  width: 289px;
  height: 85px;
  margin-bottom: 15px;
}

strong {
  font-weight: bold;
}

#news > p {
  padding-bottom: 0.0em;
}

#bio last-child { 
  margin-bottom: 0 !important; 
}

#group .row > div[class*="col"] {
  padding-bottom: 30px;
}

#info {
  padding: 0;
}

#contact {
  max-width: 280px;
  margin-left: auto;
}

#contact-social {
  height: 15px;
}

img.contact-icon {
  height: 1.5rem;
  margin-right: 0.75rem;
}

.footer {
  border-top: 1px solid #e2e1de;
  padding-left: 15px;
  padding-top: 1em;
  margin-top: 1em;
  font-style: italic;
}

.nav-pills > li + li {
  margin-left: 5px;
}

ol.bibliography {
  padding-left: 1.0em;
  max-width: 45em;
  list-style: disc;
}

ol.bibliography > li {
  padding: 0.25em 0;  
}

ol.bibliography .nav > li > a {
  padding-left: 0;
  margin: 0;
  margin-right: 0.5em;
}

ol.bibliography .nav-pills > li > a,
ol.bibliography .nav-pills > li > a:hover {
  font-size: 90%;
  background-color: transparent;
}

span.accent {
  color: $color-accent;
}

// Legacy class name for backwards compatibility
span.red {
  color: $color-accent;
}

.pub > div > a {
  color: $color-accent;
}


/*div.pub {
  height: auto;
}


*/
div.pub{
  margin-bottom: 1.5em;
}

div.pub-image {
  margin-top: 12px;
  height: 100%;
}

.pub-info > div {
  margin-top: 4px;
  margin-bottom: 4px;
}

.pub-image > img {
  max-width: 220px;
  max-height: 200px;
}

.pub-title {
  font-size: 17px;
  font-family: $font-heading;
  font-weight: 500;
}

.pub-venue {
  font-style: italic;
}
